<style>
    .navbar-toggler .ph-x { display: none; }
    .navbar-toggler[aria-expanded="true"] .ph-list { display: none; }
    .navbar-toggler[aria-expanded="true"] .ph-x { display: inline; }
    .nav-link.active picture img { border-color: var(--bs-secondary) !important; }

    .navbar.sticky-top {
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        background-color: rgba(var(--bs-body-bg-rgb), 0.8) !important;
    }
</style>

<nav class="navbar navbar-expand-lg sticky-top bg-body border-light-subtle border-bottom">
    <div class="container px-4">
        <a class="navbar-brand fw-bold text-body d-flex align-items-center" href="/">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2" aria-hidden="true">
                <path d="M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM14 7C15.1046 7 16 7.89543 16 9C16 10.1046 15.1046 11 14 11C12.8954 11 12 10.1046 12 9C12 7.89543 12.8954 7 14 7Z" fill="currentColor"/>
            </svg>
            Crater Tools
        </a>
        <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ph-bold ph-list text-body"></i>
            <i class="ph-bold ph-x text-body"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item fw-bold">
                    <a href="/calmetric" class="nav-link me-3 d-flex align-items-center{% if page.app == 'calmetric' %} active{% endif %}">
                        <picture style="line-height: 0;">
                            <source srcset="/assets/img/content.dark-calmetric-app-logo-1024@1x.png" media="(prefers-color-scheme: dark)">
                            <img src="/assets/img/content.light-calmetric-app-logo-1024@1x.png" alt="" class="border border-light-subtle rounded me-2" style="width: 24px; height: 24px;">
                        </picture>
                        Calmetric
                    </a>
                </li>
                <li class="nav-item fw-bold">
                    <a href="/conversions" class="nav-link me-3 d-flex align-items-center{% if page.app == 'conversions' %} active{% endif %}">
                        <picture style="line-height: 0;">
                            <source srcset="/assets/img/content.dark-conversions-app-logo-1024@1x.png" media="(prefers-color-scheme: dark)">
                            <img src="/assets/img/content.light-conversions-app-logo-1024@1x.png" alt="" class="border border-light-subtle rounded me-2" style="width: 24px; height: 24px;">
                        </picture>
                        Conversions
                    </a>
                </li>
                <li class="nav-item fw-bold">
                    <a href="/codifier" class="nav-link me-3 d-flex align-items-center{% if page.app == 'codifier' %} active{% endif %}">
                        <picture style="line-height: 0;">
                            <source srcset="/assets/img/content.dark-codifier-app-logo-1024@1x.png" media="(prefers-color-scheme: dark)">
                            <img src="/assets/img/content.light-codifier-app-logo-1024@1x.png" alt="" class="border border-light-subtle rounded me-2" style="width: 24px; height: 24px;">
                        </picture>
                        Codifier
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
