<style>
    .navbar-toggler .ph-x { display: none; }
    .navbar-toggler[aria-expanded="true"] .ph-list { display: none; }
    .navbar-toggler[aria-expanded="true"] .ph-x { display: inline; }
    .nav-link.active picture img { border-color: var(--bs-secondary) !important; }

    .navbar.sticky-top {
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        background-color: rgba(var(--bs-body-bg-rgb), 0.8) !important;
    }
</style>

<nav class="navbar navbar-expand-lg sticky-top bg-body border-light-subtle border-bottom">
    <div class="container">
        <a class="navbar-brand fw-bold text-body d-flex align-items-center" href="/">
            <svg width="24" height="24" viewBox="0 0 180 180" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2" aria-hidden="true">
                <path d="M90 0C139.706 0 180 40.2944 180 90C180 139.706 139.706 180 90 180C40.2944 180 0 139.706 0 90C0 40.2944 40.2944 0 90 0ZM90 20C51.3401 20 20 51.3401 20 90C20 128.66 51.3401 160 90 160C128.66 160 160 128.66 160 90C160 51.3401 128.66 20 90 20ZM106 48C120.359 48 132 59.6406 132 74C132 88.3594 120.359 100 106 100C91.6406 100 80 88.3594 80 74C80 59.6406 91.6406 48 106 48ZM106 64C100.477 64 96 68.4772 96 74C96 79.5228 100.477 84 106 84C111.523 84 116 79.5228 116 74C116 68.4772 111.523 64 106 64Z" fill="currentColor"/>
            </svg>
            Crater Tools
        </a>
        <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ph-bold ph-list text-body"></i>
            <i class="ph-bold ph-x text-body"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item fw-bold">
                    <a href="/calmetric" class="nav-link me-3 d-flex align-items-center{% if page.app == 'calmetric' %} active{% endif %}">
                        <picture style="line-height: 0;">
                            <source srcset="/assets/img/content.dark-calmetric-app-logo-1024@1x.png" media="(prefers-color-scheme: dark)">
                            <img src="/assets/img/content.light-calmetric-app-logo-1024@1x.png" alt="" class="border border-light-subtle rounded me-2" style="width: 24px; height: 24px;">
                        </picture>
                        Calmetric
                    </a>
                </li>
                <li class="nav-item fw-bold">
                    <a href="/conversions" class="nav-link me-3 d-flex align-items-center{% if page.app == 'conversions' %} active{% endif %}">
                        <picture style="line-height: 0;">
                            <source srcset="/assets/img/content.dark-conversions-app-logo-1024@1x.png" media="(prefers-color-scheme: dark)">
                            <img src="/assets/img/content.light-conversions-app-logo-1024@1x.png" alt="" class="border border-light-subtle rounded me-2" style="width: 24px; height: 24px;">
                        </picture>
                        Conversions
                    </a>
                </li>
                <li class="nav-item fw-bold">
                    <a href="/codifier" class="nav-link me-3 d-flex align-items-center{% if page.app == 'codifier' %} active{% endif %}">
                        <picture style="line-height: 0;">
                            <source srcset="/assets/img/content.dark-codifier-app-logo-1024@1x.png" media="(prefers-color-scheme: dark)">
                            <img src="/assets/img/content.light-codifier-app-logo-1024@1x.png" alt="" class="border border-light-subtle rounded me-2" style="width: 24px; height: 24px;">
                        </picture>
                        Codifier
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
