<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <title>{{ page.title | default: site.title }}</title>
    <meta name="keywords" content="{{ page.keywords | default: site.keywords }}">

    {% if page.app and site.data.apps[page.app] %}
        <meta name="description" content="{{ site.data.apps[page.app].description }}">
        <meta name="apple-itunes-app" content="app-id={{ site.data.apps[page.app].app_id }}">
        <link rel="alternate" href="{{ site.data.apps[page.app].app_store_url }}" title="Download on the App Store">
    {% else %}
        <meta name="description" content="{{ page.description | default: site.description }}">
    {% endif %}

    <meta name="author" content="{{ site.author | default: 'Piotr Bakker' }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    {% include resources.html %}

    <script>
        document.documentElement.setAttribute(
        'data-bs-theme',
        window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        );

        // Listen for changes to the system's color scheme
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
        document.documentElement.setAttribute('data-bs-theme', event.matches ? 'dark' : 'light');
        });
    </script>
</head>
<body>
    {% include navbar.html %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}
</body>
</html>
